@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Marcellus&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Faculty+Glyphic&family=Marcellus&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Faculty+Glyphic&family=Marcellus&family=Telex&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Faculty+Glyphic&family=Gotu&family=Marcellus&family=Telex&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Faculty+Glyphic&family=Gotu&family=Marcellus&family=Overlock+SC&family=Telex&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Belanosima:wght@400;600;700&family=Faculty+Glyphic&family=Gotu&family=Marcellus&family=Overlock+SC&family=Telex&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
* {
    font-family: "League Spartan", sans-serif;
    font-family: "Faculty Glyphic", sans-serif;
    font-family: "Marcellus", serif;
    font-family: "Tenor Sans", sans-serif;
    font-family: "Athiti", sans-serif;
    font-family: "Telex", sans-serif;
    font-family: "Gotu", sans-serif;
    font-family: "Overlock SC", sans-serif;
    /* font-family: "Baloo Da 2", sans-serif;
    font-family: "Belanosima", sans-serif; */
}

#menu_dropdown {
    padding-top: 0px;
    padding-bottom: 0px;
    right: 0px !important;
}
